<mat-toolbar>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="app-logo">
        <h4>User Management System</h4>
      </div>
      <div class="toolbar-navigation">
        <ng-container>
          <a
            mat-icon-button
            [routerLink]="['/']"
            matTooltip="Home"
            color="primart"
          >
            <mat-icon>home</mat-icon>
          </a>

          <a
            mat-icon-button
            [routerLink]="['/page/maps']"
            matTooltip="Map"
            color="primart"
          >
            <mat-icon>map</mat-icon>
          </a>

          <a *ngIf="loggedIn"
            mat-icon-button
            href="javascript:void(0)"
            (click)="logout()"
            matTooltip="Home"
            color="primart"
          >
            <mat-icon>logout</mat-icon>
          </a>


        </ng-container>

      </div>
    </div>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
